name: github-actions-c

on:
  pull_request:
    branches: ["*"]
  push:
    branches: [master]
jobs:
  Mysql:
    runs-on: ubuntu-latest
    steps:
      - name: Checks out the repository
        uses: actions/checkout@v2
      - name: Starts docker-compose
        run: docker compose -f docker/docker-compose-mysql.yml up -d
      - name: Sleep
        uses: jakejarvis/wait-action@master
        with:
          time: "20s"
      - name: Build and test
        run: CI=1 RELEASE=1 DOCKERCFILE=docker/docker-compose-mysql.yml ./scripts/build-docker.sh
